*.pyc
nosetests\.xml
**/.pytest_cache
.vscode/.ropeproject/config.py
.vscode/
.coverage
**/UnitTestResult.txt
**/log.html
**/output.xml
**/report.html
robotframework/result/UnitTestResult.txt
Framework/img2maze/dist
Framework/img2maze/build
Framework/img2maze/img2maze.egg-info
Teams/ReferenceSolutionAStarCPP/build
